$headerBlocktextfont: "Montserrat Regular";
$headerSignfont: "Nunito Bold";
$headerSigncolor: #156963;
$headerTextcolor: #2c1500;

$serviceBordercolor: #e0e0e0;
$buyArticlecolor: #2c1500;
$visitBgcolor: #f3f4f6;
$visitBtncolor: #fafefe;
$footerTitlecolor: #333333;
$footerAddresscolor: #4f4f4f;
$footerAddressfont: "WorkSans Regular";
$footerBordercolor: #f2f2f2;
$footerTitlefont: "WorkSans Bold";
