section.buy 
	.container 
		.buy__content 
			.buy__column 
				.buy__text 
					.buy__title Buy more plants, it helps you to be relaxed
					.buy__article Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						|Morbi gravida gravida aliquam. Pellentesque et lobortis nisl. Sed et mauris justo.
						| Nulla eu enim non mauris maximus dignissim. Maecenas vitae eros sapien. Quisque pellentesque tempus dignissim.
				.buy__image 
					img(src="images/buy-img-1.png", alt="buying")
			img(src="images/buy-img-2.png", alt="")