section.featured 
	.container 
		.featured__content 
			.featured__title featured plants 
			.featured__select
				select(name="plants", class="featured__selected")
					option(value="1") cheaper first 
					option(value="2") plants
					option(value="3") plants
		.featured__box 
			.featured__item 
				img(src="images/featured__img-1.png", alt="plants")
				.featured__name kaktus plants 
				.featured__price idr 85.000
			.featured__item 
				img(src="images/featured__img-2.png", alt="plants")
				.featured__name landak plants 
				.featured__price idr 105.000
			.featured__item 
				img(src="images/featured__img-3.png", alt="plants")
				.featured__name kecubung plants 
				.featured__price idr 85.000
			.featured__item 
				img(src="images/featured__img-4.png", alt="plants")
				.featured__name kecubung  plants 
				.featured__price idr 85.000
			.featured__item 
				img(src="images/featured__img-5.png", alt="plants")
				.featured__name kecubung  plants 
				.featured__price idr 85.000