footer.footer
	.container 
		.footer__content 
			.footer__item 
				a.footer__logo(href="#") plantku
				.footer__name plankyu house
				.footer__address Jl. Laksda Adisucipto No.51, Demangan, Kec. Depok, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55282
			.footer__item 
				.footer__title perusahaan
				a.footer__link(href="#") tentang kami	
				a.footer__link(href="#") hubungi kami
			.footer__item 
				.footer__title produk
				a.footer__link(href="#") tanaman	
				a.footer__link(href="#") tanaman lain
			.footer__item 
				.footer__title berlangganan email kami	
				input(type="email", class="footer__mail", placeholder="masukan alamat email")
				button(class="footer__btn") submit
				

