header.header 
	.header__image
		img(src="images/header-bg.png", alt="plants")
		a.header__logo(href="#")
			img(src="images/header-logo.svg", alt="logotip")
	.header__content 
		.header__nav
			form(action="#")
				input(type="checkbox", id="search", class="header__input")
				input(type="search", class="header__searching")
				label(for="search", class="header__toggle")
					img(src="icons/header-search.svg", class="header__search", alt="search")
			img(src="icons/header-shop.svg", class="header__shop", alt="shop")
			a.header__sign-up(href="#") sign up  
			a.header__sign-in(href="#") sign in
		.header__texts 
			.header__title kembang flower mantap 
			.header__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				| Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
