section.service 
	.container
		.service__box
			.service__item
				.service__cart  
					img(src="images/service-img-1.svg", class="service__image", alt="delivery") 
					span.service__title fast delivery 
				p.service__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
					|Lorem Ipsum has been the industry's standard
			.service__item 
				.service__cart 
					img(src="images/service-img-2.svg",class="service__image", alt="customer") 
					span.service__title great customer service 
				p.service__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
					|Lorem Ipsum has been the industry's standard
			.service__item
				.service__cart  
					img(src="images/service-img-3.svg",class="service__image", alt="plant") 
					span.service__title original plants 
				p.service__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
					|Lorem Ipsum has been the industry's standard
			.service__item 
				.service__cart 
					img(src="images/service-img-4.svg", class="service__image",alt="price") 
					span.service__title affordable price 
				p.service__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
					|Lorem Ipsum has been the industry's standard
