section.visit 
	.container 
		.visit__content
			.visit__box 
				.visit__title Get your favourites plant on our shop now
				a.visit__btn(href="#") visit shop
			img(src="images/visit-img.png", alt="visit")
